
{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Articles</h1>
    <div class="list-group">
        {% for article in articles %}
        <div class="col-lg-12 list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <a class="articles-header" href="{{ url_for('single_article', article_id=article._id) }}">
                    <h3>{{ article.title }}<h3/>
                </a>
                <small>Written by {{ article.author }} on {{ article.create_date }}</small>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <a href="{{url_for('write_article')}}" class="waves-effect waves-light btn btn-articles">
            <i class="material-icons right fas fa-pen-alt"></i>Write Article
        </a>
    </div>
</div>
{% endblock %}

