<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% if title %}
        <title>MyBlogsApp - {{ title }}</title>
    {% else %}
        <title>MyBlogsApp</title>
    {% endif %}

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}" type="text/css" />
</head>

<body>
    <header>
        <nav>
            <div class="nav-wrapper custom-navbar">
            <a href="{{url_for('index')}}" class="brand-logo">MyBlogsApp</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul id="dropdown1" class="dropdown-content">
                    <li><a href="{{url_for('add_country')}}">Add Country</a></li>
                    <li><a href="{{url_for('write_article')}}">Write Article</a></li>
                    <li><a href="{{url_for('create_adventure')}}">Create Adventure</a></li>
                </ul>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="{{url_for('index')}}">Home</a></li>
                    <li><a href="{{url_for('get_articles')}}">Articles</a></li>
                    <li><a href="{{url_for('get_countries')}}">Countries</a></li>
                    <li><a href="{{url_for('get_adventures')}}">Adventures</a></li>
                    <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Contribute<i class="material-icons right">arrow_drop_down</i></a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="{{url_for('index')}}">Home</a></li>
                    <li><a href="{{url_for('get_articles')}}">Articles</a></li>
                    <li><a href="{{url_for('get_countries')}}">Countries</a></li>
                    <li><a href="{{url_for('get_adventures')}}">Adventures</a></li>
                    <li><a href="{{url_for('write_article')}}">Write Article</a></li>
                    <li><a href="{{url_for('add_country')}}">Add Country</a></li>
                    <li><a href="{{url_for('create_adventure')}}">Create Adventure</a></li>
                </ul>
            </div>
        </nav>
    </header>

        {% block content %}
        {% endblock %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="https://cdn.ckeditor.com/4.11.1/standard/ckeditor.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.collapsible').collapsible();
            $(".button-collapse").sideNav();
            $(".dropdown-button").dropdown();
            $('.carousel.carousel-slider').carousel({fullWidth: true});
            $('.carousel').carousel();
                setInterval(function() {
                    $('.carousel').carousel('next');
                }, 10000);
            $('select').material_select();
            $('.datepicker').pickadate({
                selectMonths: true, // Creates a dropdown to control month
                selectYears: 50, // Creates a dropdown of 15 years to control year,
                today: 'Today',
                clear: 'Clear',
                close: 'Ok',
                closeOnSelect: false, // Close upon selecting a date,
                container: undefined, // ex. 'body' will append picker to body
                min: new Date(),
                max: false  // `true` sets it to today. `false` removes any limits.
              });
            if (CKEDITOR) {
                try {
                    var editor = CKEDITOR.replace('editor');
                } catch(err) {
                    // Skip the exception but log the error in the console
                    console.log(err);
                }
            }
        });
    </script>

</body>
</html>
