{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h3>Edit Article</h3>
    <div class="row">
        <form action="{{ url_for('update_article', article_id=article._id) }}" method="POST" class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix fas fa-book"></i>
                    <input id="title" name="title" type="text" class="validate" value="{{article.title}}" minlength="5" required>
                    <label>Article Title</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix fas fa-user"></i>
                    <input id="author" name="author" type="text" class="validate" value="{{article.author}}" required>
                    <label>Author</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix fas fa-pen-alt"></i>
                    <label>Article Body</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea type="textarea" name="body" id="editor" class="materialize-textarea" value="{{ article.body }}">{{ article.body | markdown }}</textarea>
                </div>
            </div>
            <div class="row">
                <button class="waves-effect waves-light btn btn-articles" type="submit">Update Article
                    <i class="material-icons right">playlist_add</i>
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

